---
const { href } = Astro.props
---

<li class="menu-item px-4 sm:px-0">
  <a
    class="menu-link inline-block hover:scale-105 hover:text-blue-500 dark:hover:text-blue-300"
    href={href}><slot /></a
  >
</li>

<script>
  const menu = document.getElementById('menu')
  const header = document.getElementById('header')

  menu?.addEventListener('click', (e) => {
    const target = e.target as HTMLElement
    if (target.classList.contains('menu-link')) {
      header?.classList.remove('fixed')
      menu.classList.remove('-right-1/2')
      menu?.classList.toggle('-right-full')
      menu?.classList.toggle('text-base')
      document.body.classList.remove('pt-16')
    }
  })
</script>
