---
import Moon from '../../icons/Moon.astro'
import Sun from '../../icons/Sun.astro'
import MenuItem from './MenuItem.astro'
---

<MenuItem>
  <div id="toggleTheme">
    <Sun />
    <Moon />
  </div>
</MenuItem>

<script>
  const btn = document.querySelector('.menu-item:nth-child(5)')
  const moon = document.querySelector('.moon')
  const sun = document.querySelector('.sun')

  const toggleTheme = () => {
    const currentTheme = document.documentElement.classList.contains('dark')
      ? 'dark'
      : 'light'
    const newTheme = currentTheme === 'dark' ? 'light' : 'dark'
    document.documentElement.classList.toggle('dark')
    moon?.classList.toggle('hidden')
    sun?.classList.toggle('hidden')
    localStorage.setItem('theme', newTheme)
  }

  const applyStoredTheme = () => {
    const storedTheme = localStorage.getItem('theme')

    if (storedTheme) {
      document.documentElement.classList.toggle('dark', storedTheme === 'dark')
    } else {
      document.documentElement.classList.add('dark')
    }
  }

  applyStoredTheme()
  btn?.addEventListener('click', toggleTheme)
</script>
