---
import Banner from './Banner.astro'
---

<h1 class="-ml-1 mt-6 font-oswald text-clampTitle font-bold tracking-tight">
  RAYMUNDO CHAVEZ
</h1>
<div class="mb-12 flex justify-between gap-4 text-clamp">
  <p class="flex-1">
    <span class="font-semibold text-blue-300">Ingeniero en computacion</span> con
    experiencia en la creación de sitios web modernos y funcionales.
  </p>
  <p class="flex-1">
    Utilizo mi conocimiento de desarrollo web para transformar ideas creativas
    en experiencias digitales impresionantes.
  </p>
  <button class="flex-1">
    <a
      class="rounded-md bg-white px-3 py-2 text-black underline"
      href="#contact"
      >Contactame ➡
    </a></button
  >
</div>
<Banner />
