---
import Banner from './Banner.astro'
---

<h1 class="-ml-[2.5px] mb-2 mt-6 font-oswald text-clampTitle font-bold">
  RAYMUNDO CHAVEZ
</h1>

<div class="mb-12 flex justify-between gap-4 text-clamp">
  <p class="flex-1">
    <span class="block font-bold dark:text-blue-300">Desarrollador web</span> Enfocado
    en crear soluciones modernas y eficientes. alta calidad."
  </p>
  <p class="flex-1">
    Comprometido con el aprendizaje continuo y en adaptarme a las últimas
    tecnologías.
  </p>
  <button class="flex flex-1 items-center 2xl:justify-center">
    <a
      class="inline-block rounded-md bg-blue-500 bg-gradient-to-r from-blue-400 to-purple-400 px-3 py-1.5 text-gray-100 transition-transform will-change-transform hover:scale-110 hover:brightness-110 hover:filter dark:from-blue-500 dark:to-purple-600"
      href="#contact"
      >Contactame →
    </a></button
  >
</div>
<Banner />
