---
import Container from '../components/Container.astro'
import Header from '../components/Header.astro'
import Layout from '../layouts/Layout.astro'
import HomeButton from '../components/HomeButton.astro'
import Projects from '../components/projects/Projects.astro'
import Hero from '../components/hero/Hero.astro'
import Experience from '../components/experience/Experience.astro'
import About from '../components/About.astro'
import Footer from '../components/Footer.astro'
import Contact from '../components/contact/Contact.astro'
---

<Layout title="Raymundo Chavez | Portfolio Web">
  <Header />
  <main class="text-gray-950 dark:text-gray-100">
    <Container>
      <Hero />
      <Projects />
      <Experience />
      <About />
      <Contact />
    </Container>
    <Footer />
    <HomeButton />
  </main>
</Layout>
