---
import Container from '../components/Container.astro'
import Header from '../components/Header.astro'
import Layout from '../layouts/Layout.astro'
import HomeButton from '../components/HomeButton.astro'
import Projects from '../components/Projects.astro'
import Hero from '../components/Hero.astro'
import Experience from '../components/Experience.astro'
import About from '../components/About.astro'
---

<Layout title="Raymundo Chavez | Portfolio Web">
  <Header />
  <main class="pb-96 text-white">
    <Container>
      <Hero />
      <Projects />
      <Experience />
      <About />
    </Container>
    <HomeButton />
  </main>
</Layout>
