---
import Banner from "../components/Banner.astro"
import Container from "../components/Container.astro"
import Header from "../components/Header.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout title="Portfolio Web">
  <Header />
  <main class="text-white">
    <Container>
      <h1 class="text-clamp tracking-tight font-bold font-oswald pt-6">
        RAYMUNDO CHAVEZ
      </h1>
      <div class="flex gap-14 text-xs mb-12">
        <p class="flex-1">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim,
          quibusdam.
        </p>
        <p class="flex-1">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim,
          quibusdam Lorem ipsum dolor sit amet.s
        </p>
        <button class="flex-1">
          <a
            class="bg-white text-black underline px-3 py-2 rounded-md"
            href="#contact">Contactame -></a
          ></button
        >
      </div>
    </Container>
    <Banner />
  </main>
</Layout>
