---
const { forHTML } = Astro.props
---

<label
  for={forHTML}
  class="absolute left-2 top-2 origin-[0] -translate-y-8 cursor-text text-gray-500 transition-all peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:-translate-y-8 peer-focus:scale-90 peer-focus:cursor-default peer-focus:text-blue-500 dark:text-gray-400 dark:peer-focus:text-blue-300"
>
  <slot />
</label>
