---
import SubTitle from './SubTitle.astro'
import Avatar from '../icons/Avatar.astro'
---

<section id="about">
  <SubTitle> <Avatar /> Sobre mí </SubTitle>
  <div
    class="flex flex-col items-center justify-center gap-4 sm:flex-row-reverse"
  >
    <img
      src="/avatar.jpg"
      class="aspect-square size-56 rounded-lg object-fill"
      alt="Raymundo Chavez"
    />
    <div class="flex flex-col gap-4">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus
        maiores numquam eaque? Quisquam totam magnam sequi vero, tenetur quaerat
        rerum!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum
        mollitia nemo quam nam! Id atque nihil magni cumque eius accusamus!
        Fugiat facere vero eum itaque rem nam eos, expedita maiores.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa obcaecati
        quam quia quaerat temporibus repellat exercitationem eaque. Architecto
        consequatur, nihil sunt magni neque assumenda sequi asperiores
        voluptates, et hic molestias labore aspernatur at error sapiente!
      </p>
    </div>
  </div>
</section>
