---
import SubTitle from './SubTitle.astro'
import Avatar from '../icons/Avatar.astro'
---

<section id="about">
  <SubTitle> <Avatar /> Sobre mí </SubTitle>
  <div
    class="flex flex-col items-center justify-center gap-4 lg:flex-row-reverse"
  >
    <img
      src="/avatar.webp"
      class="aspect-square size-56 rounded-lg object-fill"
      alt="Raymundo Chavez"
    />
    <div class="flex flex-col gap-4">
      <p>
        <span class="text-blue-500 dark:text-blue-300"
          >Hola, soy Raymundo pero puedes llamarme Ray.
        </span>Mi pasión por la programación comenzó cuando entre a la
        Universidad. Mi primer Hola Mundo fue escrito en <span
          class="text-blue-500 dark:text-blue-300">Java</span
        >, pero con el tiempo me fui adentrando en el mundo del desarrollo web
        con <span class="text-blue-500 dark:text-blue-300">HTML CSS y PHP</span
        >.
      </p>
      <p>
        <span class="text-blue-500 dark:text-blue-300"
          >Soy una persona autodidacta con una gran pasión por el desarrollo.</span
        > He dedicado tiempo a expandir mis habilidades y conocimientos, lo que me
        ha llevado a explorar diversas herramientas y tecnologías. <span
          class="text-blue-500 dark:text-blue-300"
        >
          Mi motivación por aprender continuamente impulsa mi crecimiento
          profesional en este campo.
        </span>
      </p>
      <p>
        Entre mis logros más destacados como programador se encuentra haber
        ganado el <span class="text-blue-500 dark:text-blue-300"
          >primer lugar en varios concursos universitarios</span
        >, tanto dentro como fuera de mi sede. Además, tuve el honor de
        participar en el <span class="text-blue-500 dark:text-blue-300"
          >Concurso Regional 2019 de Programación Competitiva ICPC.</span
        >
      </p>
    </div>
  </div>
</section>
