---
import SubTitle from './SubTitle.astro'
import Avatar from '../icons/Avatar.astro'
---

<section id="about">
  <SubTitle> <Avatar /> Sobre mí </SubTitle>
  <div
    class="flex flex-col items-center justify-center gap-4 md:flex-row-reverse"
  >
    <img
      src="/avatar.jpg"
      class="aspect-square size-56 rounded-lg object-fill"
      alt="Raymundo Chavez"
    />
    <div class="flex flex-col gap-4">
      <p>
        Hola, soy Raymundo aunque puedes llamarme Ray. Mi pasión por la
        programación comenzó cuando entre a la Universidad. Mi primer Hola Mundo
        fue escrito en Java, pero con el tiempo me fui adentrando en el mundo
        del desarrollo web.
      </p>
      <p>
        Soy una persona autodidacta y, con el tiempo, he adquirido conocimientos
        en diversas tecnologías, como HTML, CSS, JavaScript, Tailwind, Git,
        Node.js, React, Astro, PHP, MySQL, entre otras.
      </p>
      <p>
        Entre mis logros más destacados como programador se encuentra haber
        ganado el primer lugar en varios concursos universitarios, tanto dentro
        como fuera de mi sede. Además, tuve el honor de participar en el
        Concurso Regional 2019 de Programación Competitiva ICPC.
      </p>
    </div>
  </div>
</section>
