---
import Skill from "./Skill.astro"
---

<div
  class="bg-white bg-grid h-72 w-11/12 rounded-r-full grid grid-cols-3 relative -z-10"
>
  <img class="w-24 h-24" src="/html.svg" alt="" />
  <img class="w-24 h-24" src="/css.svg" alt="" />
  <img class="w-24 h-24" src="/js.svg" alt="" />
  <img
    class="filter grayscale h-full absolute top-full -translate-y-full left-1/2 -translate-x-1/2"
    src="/avatar.png"
    alt=""
  />
  <img class="w-24 h-24" src="/react.svg" alt="" />
  <img class="w-24 h-24" src="/git.svg" alt="" />
  <img class="w-24 h-24" src="/php.svg" alt="" />
</div>
