---
const { title, description, company, date } = Astro.props
---

<li class="mb-20 flex flex-col justify-between sm:flex-row">
  <div class="flex flex-1 flex-col gap-1">
    <h3
      class="relative text-xl font-semibold text-blue-300 before:absolute before:-left-4 before:top-1/2 before:block before:size-3 before:-translate-x-1.5 before:-translate-y-1/2 before:rounded-full before:bg-white before:content-['']"
    >
      {title}
    </h3>
    {company && <h4 class="text-sm font-semibold">{company}</h4>}
    <span class="text-xs">{date}</span>
  </div>
  <div class="flex-1 lg:flex-[2]">
    <p class="text-pretty">{description}</p>
  </div>
</li>
