<footer>
  <div
    class="mt-20 flex h-16 w-full items-center justify-center gap-2 bg-gray-500 text-sm text-gray-300 sm:gap-x-4 sm:text-base dark:bg-gray-900"
  >
    <a
      class="cursor-pointer text-blue-300 hover:text-blue-200 dark:text-blue-300 dark:hover:text-blue-500"
      href="mailto:raymundo.developer@gmail.com">raymundo.developer@gmail.com</a
    >

    <span>&bull; </span>

    <p>Raymundo Chavez 2024</p>
  </div>
</footer>
