<footer>
  <div
    class="mt-20 flex h-16 w-full items-center justify-center gap-2 bg-gray-500 text-sm text-gray-300 dark:bg-gray-900 sm:gap-x-4 sm:text-base"
  >
    <p>Raymundo Chavez &bull; 2024</p>
  </div>
</footer>
