---
import Container from "./Container.astro"
import Menu from "./Menu.astro"
---

<header
  class="bg-black text-white h-16 flex items-center border-b border-b-white"
>
  <Container>
    <div class="flex justify-between items-center">
      <div class="text-xl font-bold">
        <span>Raymundo</span>
        <span class="text-blue-300"> Dev</span>
      </div>
      <Menu />
    </div>
  </Container>
</header>
