---
import MenuItem from "./MenuItem.astro"
---

<nav>
  <ul
    id="menu"
    class="bg-black w-full h-full flex flex-col gap-4 py-4 fixed top-16 -right-full border-l border-l-white transition-all sm:border-none sm:flex-row sm:static"
  >
    <MenuItem href="#top" text="Inicio" />
    <MenuItem href="#projects" text="Proyectos" />
    <MenuItem href="#about" text="Sobre mi" />
    <MenuItem href="#contact" text="Contacto" />
  </ul>
  <button
    id="toggle-menu"
    class="sm:hidden h-8 w-10 flex flex-col justify-around items-center"
  >
    <span class="h-1 w-8 bg-white block"></span>
    <span class="h-1 w-8 bg-white block"></span>
    <span class="h-1 w-8 bg-white block"></span>
  </button>
</nav>

<script>
  const toggleMenu = document.getElementById("toggle-menu")
  const menu = document.getElementById("menu")
  toggleMenu?.addEventListener("click", () => {
    menu?.classList.toggle("-right-2/3")
    // document.body.classList.toggle("overflow-hidden")
  })
</script>
