---
import MenuItem from './MenuItem.astro'
---

<nav>
  <ul
    id="menu"
    class="fixed -right-full top-16 z-10 flex h-full w-full flex-col gap-4 border-l border-l-white bg-black py-4 transition-all sm:static sm:flex-row sm:border-none"
  >
    <MenuItem href="#projects" text="Proyectos" />
    <MenuItem href="#experience" text="Experiencia" />

    <MenuItem href="#about" text="Sobre mi" />
    <MenuItem href="#contact" text="Contacto" />
  </ul>
  <button
    id="toggle-menu"
    class="flex h-8 w-10 flex-col items-center justify-around sm:hidden"
  >
    <span class="block h-1 w-8 bg-white"></span>
    <span class="block h-1 w-8 bg-white"></span>
    <span class="block h-1 w-8 bg-white"></span>
  </button>
</nav>

<script>
  const toggleMenu = document.getElementById('toggle-menu')
  const menu = document.getElementById('menu')
  const header = document.getElementById('header')
  toggleMenu?.addEventListener('click', () => {
    menu?.classList.toggle('-right-2/4')
    header?.classList.toggle('fixed')
    document.body.classList.toggle('pt-16')
  })
</script>
